@use "../../../scss/colors";

.badge-list {
  .mat-mini-fab {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.badge-list-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  &:nth-of-type(2n) {
    background-color: colors.$lightgray;
  }

  > span {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .badge-in {
    color: colors.$green;
  }

  .badge-out {
    color: colors.$red;
  }
}
