<form [formGroup]="badgeForm" (submit)="submit()">
  <div class="fields">
    <ng-container formGroupName="user">
      <mat-form-field appearance="outline" class="field-user-uid">
        <mat-label>uid</mat-label>
        <input matInput formControlName="uid" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field-user-email">
        <mat-label>email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field-user-name">
        <mat-label>name</mat-label>
        <input matInput formControlName="displayName" required>
      </mat-form-field>
    </ng-container>


    <mat-form-field appearance="outline" class="field-clock">
      <mat-label>clock</mat-label>
      <mat-select formControlName="clock" required>
        <mat-option *ngFor="let clock of ['in','out']" [value]="clock">
          {{clock}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-timestamp">
      <mat-label>timestamp</mat-label>
      <input matInput type="datetime-local" formControlName="timestamp" required>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
