@use "../scss/colors";
@use "../scss/variables";

.badge-list-item {
  padding: variables.$spacing-default;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: variables.$spacing-default;
  align-items: center;
  justify-content: space-between;

  &:nth-of-type(2n) {
    background-color: colors.$lightgray;
  }

  > span {
    display: flex;
    align-items: center;
    gap: variables.$spacing-default;
  }

  .badge-in {
    color: colors.$green;
  }

  .badge-out {
    color: colors.$red;
  }

  .mat-mini-fab {
    margin-left: variables.$spacing-small;
    margin-right: variables.$spacing-small;
  }
}
