@use "../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

#app-toolbar {

}

#app-content {
  flex-grow: 1;
  padding: variables.$spacing-medium;
  overflow: auto;
  padding-bottom: 100px; // Fix mobile overflow
}

#app-loader {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}
