@use "../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

#app-toolbar {

}

#app-content {
  flex-grow: 1;
  padding: variables.$spacing-medium;
  overflow: auto;
}
