<ob-toolbar id="app-toolbar"></ob-toolbar>

<div id="app-content">

  <div class="home" *ngIf="auth.user| async as user; else showNotAuthenticated">

    <mat-card *ngIf="hasNfcCapability$ | async">
      <mat-card-title>NFC badge</mat-card-title>
      <mat-card-content>

        <div>Running status: <strong>{{ nfcReadRunningState }}</strong></div>
        <div>Permission status: <strong>{{ nfcPermissionState }}</strong></div>
        <div class="nfc-badge-button">
          <button mat-raised-button color="primary" (click)="startNfcScan()"
                  *ngIf="nfcReadRunningState === 'stopped'&& nfcPermissionState !== 'denied'">
            <span>Start</span>
            <mat-icon>play_arrow</mat-icon>
          </button>
          <button mat-raised-button (click)="stopNfcScan()"
                  *ngIf="nfcReadRunningState === 'started'">
            <span>Stop</span>
            <mat-icon>stop</mat-icon>
          </button>
        </div>

        <strong>To use NFC:</strong>
        <ul>
          <li *ngIf="nfcPermissionState !== 'denied'">
            Click the button to start NFC service
          </li>
          <li *ngIf="nfcPermissionState === 'denied'">
            <strong>Grant permission manually in browser settings</strong> (you've blocked NFC permission when asked)
          </li>
          <li>
            Activate the NFC feature in the smartphone settings
          </li>
          <li>
            Touch the appropriate smart tag (Black = IN, Red = OUT)
          </li>
        </ul>

        <hr>

        <div><strong>Tag administration section</strong></div>

        <div>
          <button mat-flat-button (click)="startWriteNfc('in')">
            <span>Write IN</span>&nbsp;<mat-icon>login</mat-icon>
          </button>

          <button mat-flat-button (click)="startWriteNfc('out')">
            <span>Write OUT</span>&nbsp;<mat-icon>logout</mat-icon>
          </button>

          <button mat-flat-button color="warn" (click)="stopWriteNfc()" *ngIf="nfcWriteRunningState === 'started'">
            <span>STOP</span>&nbsp;<mat-icon>stop</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>New badge</mat-card-title>
      <mat-card-content>
        <div class="new-badge-buttons">
          <button (click)="badgeIn()" class="new-badge-button in" mat-fab color="primary">
            <mat-icon>login</mat-icon>
          </button>
          <button (click)="badgeOut()" class="new-badge-button out" mat-fab color="warn">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Manual badge</mat-card-title>
      <mat-card-content>
        <ob-badge-form [badge]="newBadge" (formSubmitted)="addBadgeItem($event)"></ob-badge-form>
      </mat-card-content>
    </mat-card>

    <ob-spinner *ngIf="isLoading"></ob-spinner>

    <mat-card *ngIf="(badges$ | async) as badges">
      <mat-card-title>Badge list</mat-card-title>
      <mat-card-content>
        <mat-list class="badge-list">
          <mat-list-item class="badge-list-item" *ngFor="let badge of badges">

            <button mat-mini-fab color="warn" (click)="deleteBadgeItem(badge)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="openUpdateBadgeModal(badge)">
              <mat-icon>edit</mat-icon>
            </button>

            <mat-icon *ngIf="badge.clock === 'in'" color="primary">login</mat-icon>
            <mat-icon *ngIf="badge.clock === 'out'" color="warn">logout</mat-icon>

            <span>{{ badge.username }}</span>&nbsp;
            <strong>{{ badge.clock | uppercase }}</strong>&nbsp;
            <span *ngIf="badge.timestamp">at&nbsp;<em>{{ badge.timestamp | date:'dd/MM/yyyy HH:mm'}}</em></span>

          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>

  <ng-template #showNotAuthenticated>
    <div class="no-login">
      <p>You have to be authenticated to use this app.
        <ob-login-with-google color="primary"></ob-login-with-google>
      </p>
    </div>
  </ng-template>

</div>

