@use "../../../scss/colors";
@use "../../../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-medium;
}

.nfc-badge-button {
  margin-block: variables.$spacing-medium;
}

.new-badge-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-block: variables.$spacing-medium;
}

$nfc-badge-button-size: 120px;
$nfc-badge-button-icon-size: $nfc-badge-button-size * 0.75;

.new-badge-button {
  width: $nfc-badge-button-size;
  height: $nfc-badge-button-size;

  .mat-fab.mat-button-wrapper {
    width: $nfc-badge-button-icon-size;
    height: $nfc-badge-button-icon-size;
  }

  .mat-icon {
    font-size: $nfc-badge-button-icon-size;
    width: $nfc-badge-button-icon-size;
    height: $nfc-badge-button-icon-size;
  }

  &.in {
    background-color: colors.$green;
  }

  &.out {
    background-color: colors.$red;
  }
}
