<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>apartment</mat-icon>
    <span>Office Buddy <small><em>v{{ version || '0' }}</em></small></span>
  </button>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="login()" *ngIf="!(isAuthenticated$ | async)">
      Login
    </button>
    <ng-container *ngIf="isAuthenticated$ | async">
      <ng-container>
        <a *obAuthorizedOnly mat-menu-item routerLinkActive="active" routerLink="/home">Home</a>
        <a *obAuthorizedOnly mat-menu-item routerLinkActive="active" routerLink="/badges">Badges</a>
        <a *obAdminOnly mat-menu-item routerLinkActive="active" routerLink="/users">Users</a>
        <mat-divider></mat-divider>
      </ng-container>
      <button mat-menu-item (click)="logout()">
        Logout <em>{{ username$ | async }}</em>
      </button>
    </ng-container>
  </mat-menu>

</mat-toolbar>
